/* 全局样式表 */
html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-steps {
  margin-top: 15px;
  margin-bottom: 15px;
}

.el-step__title {
  /* 怎么改的都改不动，只要加!important */
  font-size: 13px !important;
}

.ql-editor {
  min-height: 300px;
}
